In [2]:
import pandas as pd

In [3]:
people = pd.DataFrame({
    'Age' : [15,19,35,11],
    'Shoe Size' : [9,11,7,5],
    'Eye Colour' : ['Blue','Brown','Blue','Green'],
    'Height (cm)' : [182,167,130,156]},
                      index = ['Josh','Tim','Sarah','Cindy'])
people

       Age  Shoe Size Eye Colour  Height (cm)
Josh    15          9       Blue          182
Tim     19         11      Brown          167
Sarah   35          7       Blue          130
Cindy   11          5      Green          156

In [14]:
# Total Cumulative Age
people['Age'].sum()

Josh     15
Tim      19
Sarah    35
Cindy    11
Name: Age, dtype: int64

In [ ]:
# Mean Age

In [ ]:
# Average Height